include "src/animations.kdl"
include "src/binds.kdl"
include "src/input.kdl"
include "src/layout.kdl"
include "src/misc.kdl"
include "src/rules.kdl"
include "src/spawn.kdl"
include "machines/forest.kdl"
include optional=true "~/.config/niri/noctalia.kdl"
