// Add our extra named workspace
//workspace "1" {
//  open-on-output "DP-1"
//}
//workspace "2" {
//  open-on-output "DP-1"
//}
//workspace "3" {
//  open-on-output "DP-1"
//}

// Chat software
workspace "C" {
  open-on-output "DP-1"
}

// Video Player output
workspace "I" {
  open-on-output "DP-2"
}

//Email
workspace "E" {
  open-on-output "DP-3"
}

// ===== Outputs =====
output "DP-3" {
    mode "1920x1080"
    scale 1
    position x=4240 y=1410
}

output "DP-2" {
    mode "1680x1050"
    scale 1
    position x=0 y=1440
}

output "DP-1" {
    mode "2560x1440@180"
    scale 1
    position x=1680 y=1050
}

output "HDMI-A-1" {
    mode "1680x1050"
    scale 1
    position x=2153 y=0
}
